html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 3rem;


  font-family: 'Roboto', sans-serif;

}
.sonar-landing-container {
  padding: 8rem 1.5rem;
  text-align: center;
  background: url("/static/img/tile_2.png") repeat;
}


.sonar-landing-footer {
  text-align: center;
  }

.sonar-landing-footer .btn {
  align: center;
    max-width: 300px;
  }

.bottomline {
  border-bottom: 1px solid #ccc;
}

.footer {
  bottom: 0;
  width: 100%;
  height:;
}

.navbar-inverse .navbar-nav .nav-link {
    color: #e3e3e3;  
}

.alert {
  position: absolute;
  top: 30px;
  right: 0;
  width: 50%;
  opacity:50%;
}

.search_nav {
  font-size:9pt;
  border-color: gray;
  border:0px;
  top:5px;
  }


.stat {
  margin:30px auto;
  text-align:center;
}

.highlight {
   color:#111;
   padding:20px 0;

   display:block;
   overflow:hidden;
   margin-bottom:0;
   font-size:44px;
}

.stat i {
  color:gray;
}

.milestone-details {
   font-weight:bold;
   font-size:18px;
   color:#999;
}

.btn-primary {
    background-color: #292929;
    