{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">About ScienceSonar</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
	<p>ScienceSonar was created by <a href="https://sites.google.com/site/christianjanze2/">Christian Janze</a>. He is a Ph.D. candidate at the Chair of e-Finance of Goethe University Frankfurt, member of the doctoral program of DZ BANK and a research assistant at the E-Finance Lab at the House of Finance.</p>
</div>

{% endblock %}