<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>ScienceSonar</title>

    <!-- Vendor CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:600" rel="stylesheet"> 
    <link href="/static/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/vendor/css/select2.min.css" rel="stylesheet">
    <link href="/static/vendor/css/font-awesome.min.css" rel="stylesheet">

    <!-- Sonar CSS -->
    <link href="/static/css/sonar.css" rel="stylesheet">
  </head>
  <body>
  
    <!-- Render Flash Messages -->
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <!-- End Flash Messages -->

   <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">ScienceSonar</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
 
       <div class="col-lg-3">
          <div class="input-group">
            <input type="text" class="form-control search_nav" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary search_nav" type="button"><i class="fa fa-search fa-1"></i></button>
            </span>
          </div>
        </div>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == "/discover" %}active{% endif %}">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item {% if request.path == "/share" %}active{% endif %}">
            <a class="nav-link" href="/share">Share</a>
          </li>
      </ul>

      <ul class="navbar-nav navbar-right">
      {% if g.user.is_authenticated %}
       <li class="nav-item dropdown justify-content-end">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-1"></i> {{g.user.firstname}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
              <a class="dropdown-item" href="{{ url_for('signout') }}">Signout</a>
            </div>
         </li>         
      {% else %}
          <li><a class="nav-link" href="{{ url_for('signin') }}">Sign In</a></li>
          <li> <form action="{{ url_for('signup') }}"> <button class="btn btn-primary navbar-btn">Register</button> </form></li>
      {% endif %}
        </ul>  
      </div>
     <div >
    </nav>

     <!-- Render Content here -->
    {% block content %}{% endblock %}  
 

    <footer class="footer">
      <div class="container">
             Made with <i class="fa fa-heart fa-1"></i> in the European Union
            <a class="nav-link" href="/about">About ScienceSonar</a>
      </div>
    </footer>

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/vendor/js/jquery-slim.min.js"></script>
    <script src="/static/vendor/js/tether.min.js"></script>
    <script src="/static/vendor/js/bootstrap.min.js"></script>
    <script src="/static/vendor/js/bootstrap-select.min.js"></script>
    <script src="/static/vendor/js/select2.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/vendor/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Script for tagging field -->
    <script type="text/javascript">
    $(document).ready(function() {
        // https://select2.github.io/examples.html
          $("select#tags").select2(        {  
           maximumSelectionLength: 10, 
           tags: true,
           createTag: function (params) {
              return {
                id: 'newtag_'+params.term,
                text: params.term + ' (new tag)',
                newOption: true
              }
            }
        });
    });
    </script>

     <script type="text/javascript">
    (function($) {
        "use strict";
        function count($this){
        var current = parseInt($this.html(), 10);
        current = current + 1; /* Where 50 is increment */    
        $this.html(++current);
            if(current > $this.data('count')){
                $this.html($this.data('count'));
            } else {    
                setTimeout(function(){count($this)}, 50);
            }
        }            
        $(".stat-count").each(function() {
          $(this).data('count', parseInt($(this).html(), 10));
          $(this).html('0');
          count($(this));
        });
   })(jQuery);
   </script>

  </body>
</html>

