{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Idea</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
</div>
</br>


<div class="container">
    	<div class="row">
				<h6><strong>{{idea.title}}</strong> | posted on {{idea.created_date }} UTC  by {{idea.user.firstname}} {{idea.user.lastname}} {% if idea.user_id== g.user.id %}<a href="/idea/{{idea.id}}/edit">Edit Idea</a> {% endif %}</h6>
		</div>
		<div class="row">
	 			{{ idea.question }}  
	 			
		</div>
		<div class="row">
	 			{{ idea.description }}  
	 			
		</div>
		<div class="row bottomline">
				<p> <span class="badge badge-primary">{{idea.scientificfield.description}}</span> 
					{% for tag in idea.tags %}
				 <span class="badge badge-default">{{tag.description}}</span>
				{% endfor %}</p>
		</div>
<br><br>
		<div class="row">
			<h2>Related Ideas on ScienceSonar</h2>
		</div>
 </div>

{% endblock %}