{% extends "base.html" %}
{% block content %}     
    <div class="container">
      <div class="sonar-landing-container">
        <h1>Discover and Share Research Opportunities</h1>
        <p class="lead">ScienceSonar allows you to easily find and share research opportunities.</p>
          <p>
          <a href="/discover" class="btn btn-primary">Discover Research Opportunities</a>
          <a href="/share" class="btn btn-secondary">Share Research Opportunities</a>
        </p>
      </div>
    </div><!-- /.container -->

    <div class="container">
      <div class="sonar-landing-container">
        <h2>Featured Opportunities</h2>
      </div>
    </div><!-- /.container -->
{% endblock %}