{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Share</h1>
    <p class="lead">You can either share a new research idea or a new dataset. Note that you can add datasets to research ideas.</p>
  </div>
</div>


<div class="container">
<p><a class="btn btn-primary btn-lg" href="/idea" role="button">Add Research Idea »</a></p>
<p><a class="btn btn-secondary btn-lg" href="/dataset" role="button">Add Dataset »</a></p>
</div>



{% endblock %}