{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Login</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
</div>


<div class="container">
  <form  action="" method=post>
    <dl>
      {{ form.hidden_tag() }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
    </dl>
    <p><input class="btn btn-lg btn-primary"type="submit" value="Login">
  </form>

  <p> Dont have an ScienceSonar account yet? <a href="{{ url_for('signup') }}">Signup</a></p>
</div> <!-- /container -->

{% endblock %}